@font-face {
    font-family: 'im_fell_double_pica_proRg';
    src: url('FeDPrm27C-webfont.eot');
    src: url('FeDPrm27C-webfont.eot?#iefix') format('embedded-opentype'),
         url('FeDPrm27C-webfont.woff2') format('woff2'),
         url('FeDPrm27C-webfont.woff') format('woff'),
         url('FeDPrm27C-webfont.ttf') format('truetype'),
         url('FeDPrm27C-webfont.svg#im_fell_double_pica_proRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

