@font-face {
    font-family: 'im_fell_dw_pica_proitalic';
    src: url('FePIit27C-webfont.eot');
    src: url('FePIit27C-webfont.eot?#iefix') format('embedded-opentype'),
         url('FePIit27C-webfont.woff2') format('woff2'),
         url('FePIit27C-webfont.woff') format('woff'),
         url('FePIit27C-webfont.ttf') format('truetype'),
         url('FePIit27C-webfont.svg#im_fell_dw_pica_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

