@font-face {
    font-family: 'im_fell_flowers_1regular';
    src: url('FeFlow1-webfont.eot');
    src: url('FeFlow1-webfont.eot?#iefix') format('embedded-opentype'),
         url('FeFlow1-webfont.woff2') format('woff2'),
         url('FeFlow1-webfont.woff') format('woff'),
         url('FeFlow1-webfont.ttf') format('truetype'),
         url('FeFlow1-webfont.svg#im_fell_flowers_1regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

